global
    log 127.0.0.1 local0

    pidfile /var/run/haproxy.pid

    stats socket /var/run/haproxy.sock mode 600 level admin
    stats socket ipv4@0.0.0.0:9999 level admin

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option http-server-close
    option forwardfor except 127.0.0.0/8
    option redispatch
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout http-keep-alive 10s
    timeout check 10s

frontend main
    bind *:80
